.cards-ministry > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.cards-ministry > ul > li {
  border: 1px solid var(--beige-color);
  background-color: var(--light-color);
  overflow: hidden;
}

.cards-ministry .cards-ministry-card-body {
  padding: 16px;
}

.cards-ministry .cards-ministry-card-body h3 {
  margin-top: 0;
  font-size: var(--heading-font-size-s);
}

.cards-ministry .cards-ministry-card-body p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
}

.cards-ministry .cards-ministry-card-body a.button {
  font-size: var(--body-font-size-xs);
  padding: 0.4em 1.2em;
}

.cards-ministry .cards-ministry-card-image {
  line-height: 0;
}

.cards-ministry > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width < 600px) {
  .cards-ministry > ul {
    grid-template-columns: 1fr;
  }
}
