footer {
  background-color: var(--footer-bg);
  color: var(--white-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: var(--content-max-width);
  padding: 24px;
  text-align: center;
}

footer .footer p {
  margin: 0.4em 0;
}

footer .footer a:any-link {
  color: var(--white-color);
  text-decoration: underline;
}

footer .footer a:hover {
  color: var(--light-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 24px 32px;
  }
}
